.navbar{
    background: transparent;
    backdrop-filter: blur(30px);
    /* position: sticky;
    top:0px; */
}
.dropdown{
    position: relative;
    display: inline-block;
}
.content{
    position: absolute;
    display: none;
    min-width: 150px;
    left:-70px;
    background-color: #ffff;
    color:black;
    box-shadow: 2px 2px 5px hsla(0,0%,0%,0.8);
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
}
.dropdown:hover .content{
    display: block;
    cursor: pointer;

}
.content p:hover{
    background-color: hsl(0,0%,90%);
    border-radius: 5px;
    padding-left: 5px;
}